<ion-header>
  <ion-toolbar style="--background: #f8c8dc;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre mim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #fdf6ec;" class="ion-padding">
  <div class="about-container">
    <img src="assets/img/minha-foto.jpg" class="about-img" />
    <h2>Fernanda Moresco</h2>
    <p>Me chamo Fernanda, tenho 21 anos, moro em Lagoa Vermelha, atualmente estudo na Universidade de Passo Fundo.</p>
    <p><strong>Formação:</strong> Cursando Análise e Desenvolvimento de Sistemas.</p>
    <p><strong>Interesses:</strong> Tecnologia, música, musculação, entre outros.</p>
    <p><strong>Curiosidade:</strong> Sou estudante de ADS, gosto de desenvolver aplicações web e estou aprendendo Ionic com Angular neste semestre.</p>
  </div>
</ion-content>
