<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <form (ngSubmit)="enviarMensagem()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="nome" name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mensagem</ion-label>
      <ion-textarea [(ngModel)]="mensagem" name="mensagem" required></ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">Enviar</ion-button>
  </form>
</ion-content>
