<ion-header>
  <ion-toolbar style="--background: #f8c8dc;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #fdf6ec;" class="ion-padding" fullscreen>
  <div class="center-content">
    <img src="assets/img/minha-foto.jpg" class="profile-img">
    <h2>Olá, eu sou Fernanda</h2>
    <p>Bem-vindo ao meu app de apresentação pessoal! Aqui você vai conhecer um pouco sobre mim, minhas habilidades e projetos desenvolvidos durante o curso.</p>
    <ion-text color="medium">
      <p>Cidade: Lagoa Vermelha - RS</p>
    </ion-text>
  </div>
</ion-content>

